<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="anti_cheat.Properties.Settings.AnticheatConnectionString"
      connectionString="Data Source=tpisql01.avcol.school.nz;Initial Catalog=Anticheat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>