<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="anti_cheat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <anti_cheat.Properties.Settings>
      <setting name="logdir" serializeAs="String">
        <value />
      </setting>
      <setting name="autokill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="databaseSvr" serializeAs="String">
        <value>tpisql01.avcol.school.nz</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>Anticheat</value>
      </setting>
      <setting name="databaseTbl" serializeAs="String">
        <value>tblProcess</value>
      </setting>
      <setting name="sqluser" serializeAs="String">
        <value />
      </setting>
      <setting name="sqlpass" serializeAs="String">
        <value />
      </setting>
      <setting name="authmethod" serializeAs="String">
        <value>0</value>
      </setting>
    </anti_cheat.Properties.Settings>
  </userSettings>
</configuration>